/*green-blue: cadetblue*/
/*black: #231C1A*/

* {
    padding: 0;
    margin: 0;
}

h1 {
    position: absolute;
    left: 5vw;
    top: 0;
    line-height: 80px;
    color: cadetblue;
    font-size: 24px;
}

h2 {
    font-size: 18px;
    font-weight: bold;
    color: cadetblue;
    line-height: 2.0;
}

h3 {
    font-size: 16px;
    line-height: 2.0;
}

/************Header************/

header {
    text-align: left;
    height: 80px;
    width: 100%;
    background-color: #231C1A;
    position: fixed;
    top: 0;
}

header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

header ul {
    position: absolute;
    top: 0;
    right: 1vw;
    line-height: 80px;
}

header li {
    display: inline;
    margin-right: 4vw;
}


/************Body************/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 80px;
    background-color: #f1f1f1;
}

img {
    width: 250px;
    margin-right: 20px;
}

.profile img{
    width: 150px;
    border-radius: 75px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}


ul {
    list-style: none; /* Remove default bullets */
}

main ul li::before {
content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
color: cadetblue;
font-weight: bold; /* If you want it to be bold */
display: inline-block; /* Needed to add space between the bullet and the text */
width: 1em; /* Also needed for space (tweak if needed) */
margin-left: -1em; /* Also needed for space (tweak if needed) */
padding-left: 1em;
}

/************Section************/
section {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


/************Footer************/
footer {
    background-color:#000000;
    color: #b7b7b7;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 14px;
    flex-direction: column;
}

footer li {
    display: inline;
    margin-right: 4vw;
}


/************Classes************/
.intro-with-photo {
    display: flex;
    justify-content: start;
    align-items: center;
}

.event-title {
    display: flex;
    justify-content: space-between;
}

.event-container {
    padding-top: 12px;
    padding-bottom: 12px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.menu {
    display: none;
}

/************Icons************/
.fa-solid {
    color: white;
}

.fa-brands {
    color: white;
}

/************Responsive Design***********/
@media screen and (max-width: 768px) {
    header ul {
        display: none;
    }

    header h1 {
        left: 50%;
        transform: translate(-50%)
    }

    .menu{
        display: block;
        background-color: transparent;
        color: white;
        font-size: 35px;
        position: absolute;
        top: 15px;
        right: 20px;
        border: none;
        cursor: pointer;
    }

    .event-title {
        flex-direction: column;
    }

    .event-title h3 {
        line-height: 1.2;
    }

    .intro-with-photo {
        flex-direction: column;
    }
}