/*green-blue: cadetblue*/
/*black: #231C1A*/

* {
    padding: 0;
    margin: 0;
}

/************Header************/

header {
    text-align: left;
    height: 80px;
    width: 100%;
    background-color: #231C1A;
    position: fixed;
    top: 0;
}


/************navigations************/
header a {
    color: white;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

header ul {
    position: absolute;
    right: 5vw;
    top: 0;
    line-height: 80px;
}

header li {
    display: inline;
    margin-right: 4vw;
}

/************Body************/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

img {
    width: 150px;
    border-radius: 75px; /*round image*/
    margin-right: 10px; /*add space after the image*/
    float: right; /*push the image element to the left side of the text element*/
}

h1 {
    position: absolute;
    left: 5vw;
    top: 0;
    line-height: 80px;
    color: cadetblue;
    font-size: 24px;
}

h2 {
    font-size: 16px;
    font-weight: bold;
    color: cadetblue;
}

h3 {
    font-size: 16px;
}

ul {
    list-style: none; /* Remove default bullets */
}

main ul li::before {
content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
color: cadetblue;
font-weight: bold; /* If you want it to be bold */
display: inline-block; /* Needed to add space between the bullet and the text */
width: 1em; /* Also needed for space (tweak if needed) */
margin-left: -1em; /* Also needed for space (tweak if needed) */
padding-left: 1em;
}

/************Section************/
section {
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section.intro {
    margin-top: 100px;
}

/************Footer************/
footer {
    background-color:#231C1A;
}

footer p {
    color: white
}

/************Classes************/
.eventTitle {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    line-height: 2.5;
}

.container {
    padding: 12px 0px 12px;
}

.menu {
    display: none;
}

/************Responsive Design***********/
@media screen and (max-width: 768px) {
    header ul {
        display: none;
    }

    header h1 {
        left: 50%;
        transform: translate(-50%)
    }

    .menu{
        display: block;
        background-color: transparent;
        color: white;
        font-size: 35px;
        position: absolute;
        top: 15px;
        right: 20px;
        border: none;
        cursor: pointer;
    }

    .eventTitle {
        line-height: 1.0;
    }
}